* {
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    display:flex;
    flex-flow:column;
    text-align: center;
    height: 100%;
    max-width:1912px;
    margin:auto;
}

.hero, 
.header {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: left;
}


h1 {
    font-size: 24px;
    margin-top: 0;
}
h2 {
            font-size: 18px;
            color: #e5e7eb;
        }
        h3 {
            font-size: 48px;
            color: #f9faf8;
            font-weight: 900;
            margin: 0 0 15px;
        }
        
        .link {
            text-decoration: none;
            font: size 18px;
            color: #e5e7eb;
            list-style: none;
            font-weight: 300;
        }
        
        .header {
            display:flex;
            align-items: flex-start;
            justify-content:space-between;
            padding: 15px 140px;
            margin: 0;
        }

        ul {
            padding-left: 0;
            margin: 0px;
            display:flex
        }
        li {
            margin: 0 8px;
        }
        
        .hero {
            display:flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 60px 140px 120px;
            gap:64px;
            flex-grow:0;
            overflow: hidden;
        }
            
            
            
        
        .hero-text {
            flex-grow: 0;
            display: flex;
            flex-flow: row wrap;
            flex-basis: 440px;
            flex-shrink:1;
            }
.hero img {
    flex-shrink:6;
    width: 100%;
    height: 324px;
    object-fit: cover;
    flex-grow: 1;
    box-sizing: border-box;
    
}

h4 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin:32px 0 24px;
}



.sri {
    display:flex;
    justify-content: center;
    gap: 64px;
    padding: 18px 130px;
    flex-wrap:wrap;
    align-content: flex-end;
    align-items: flex-start;
    margin-bottom: 48px;
    flex-shrink: 1;
    
}
.box {
    display:flex;
    flex-flow:column;
    flexg-grow:0;
    align-items: center;

     }
    

.box img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    gap:16px;
    object-fit:cover;
    box-sizing: border-box;
}
.box a {
    font-size: 12px;
    margin-top: 9px;
    font-weight: 300;
    width: 124px;
    text-align: center;
    
}


.quote {
    display:flex;
    flex-flow:column;
    background-color: #e5e7eb;
    padding:120px 130px 64px 264px;
    align-items: flex-start;
    justify-content: flex-start;
    
}
#quo {
    text-align: left;
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
    margin: 0;
   
   
}
#thor {
    align-self:flex-end;
    font-weight: bold;
    margin: 0;
}

button {
    border: none;
    border-radius: 8px;
    padding: 24px 48px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    font-size: 16px;
}

.actioncall {
    display:flex;
    justify-content: space-between;
    padding:64px 130px;
    text-align: left;
    align-items: center;
    margin: 130px;
    background-color: #3882f6;
    border-radius: 24px;
}

.actioncall p {
    font-size: 16px;
    margin:0;
    color: #f9faf8;
}

.actioncall button {
    border: 2px solid #f9faf8;
}

h5 {
    font-size: 26px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.footer {
    background-color: #1f2937;
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    color: #f9faf8;
}